@import url(fontawesome-all.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

html, body, div, span, h1, h2, h3, h4, p, a, img, s,
small, strong, b, ul, li, label, table,
canvas,
footer, header, nav,
section, time {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}


footer, header, nav, section {
	display: block;}

body {
	line-height: 1;
}

 ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background-color: #195281;
		background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #12343b 15%, #c89666 85%);
		background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #12343b 15%, #c89666 85%);
		background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #12343b 15%, #c89666 85%);
		background-image: url("images/overlay.png"), linear-gradient(45deg, #12343b 15%, #c89666 85%);
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body {
		background-color: #2d545e;
		color: rgba(255, 255, 255, 0.65);
	}

	body {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 17pt;
		font-weight: 300;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body {
				font-size: 14pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 360px) {

			body {
				font-size: 11pt;
			}

		}

	a {
		-moz-transition: color 0.2s ease, border-bottom 0.2s ease;
		-webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
		-ms-transition: color 0.2s ease, border-bottom 0.2s ease;
		transition: color 0.2s ease, border-bottom 0.2s ease;
		text-decoration: none;
		border-bottom: dotted 1px;
		color: inherit;
	}

		a:hover {
			border-bottom-color: transparent;
		}

	strong, b {
		font-weight: 400;
	}

	p {
		margin: 0 0 2em 0;
	}

		p.content {
			-moz-columns: 20em 2;
			-webkit-columns: 20em 2;
			-ms-columns: 20em 2;
			columns: 20em 2;
			-moz-column-gap: 2em;
			-webkit-column-gap: 2em;
			-ms-column-gap: 2em;
			column-gap: 2em;
			text-align: justify;
		}

	h1, h2, h3, h4 {
		font-weight: 300;
		line-height: 1.5;
		margin: 0 0 0.7em 0;
		letter-spacing: -0.025em;
	}

		h1 a, h2 a, h3 a, h4 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 2.5em;
		line-height: 1.2;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1.1em;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 2em;
		}

	}

	a:hover {
		color: #ffffff;
	}

	strong, b {
		color: #ffffff;
	}

	h1, h2, h3, h4 {
		color: #ffffff;
	}


/* Button */

	
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 8px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 300;
		height: 2.75em;
		line-height: 2.75em;
		min-width: 9.25em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		
		button.small,
		.button.small {
			font-size: 0.8em;
		}

		
		button:disabled,
		.button:disabled {
			pointer-events: none;
			opacity: 0.25;
		}

		@media screen and (max-width: 736px) {

			
			button,
			.button {
				min-width: 0;
			}

		}

	
	button,
	.button {
		background-color: transparent;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
		color: #ffffff !important;
	}

		
		button:hover,
		.button:hover {
			background-color: rgba(255, 255, 255, 0.075);
		}

		
		button:active,
		.button:active {
			background-color: rgba(255, 255, 255, 0.2);
		}

		
		button.icon:before,
		.button.icon:before {
			color: rgba(255, 255, 255, 0.5);
		}

/* Form */

	label {
		display: block;
		font-size: 0.9em;
		font-weight: 400;
		margin: 0 0 1em 0;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	label {
		color: #ffffff;
	}

	::-webkit-input-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
	}

	::-moz-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
	}

/* Icon */

	.icon {
		text-decoration: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon > .label {
			display: none;
		}

		.icon:before {
			line-height: solid;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}

		.icon.major {
			border: solid 1px;
			display: inline-block;
			border-radius: 100%;
			padding: 0.65em;
			margin: 0 0 2em 0;
			cursor: default;
		}

			.icon.major:before {
				display: inline-block;
				font-size: 3.25rem;
				width: 2.25em;
				height: 2.25em;
				line-height: 2.2em;
				border-radius: 100%;
				border: solid 1px;
				text-align: center;
			}

		.icon.alt {
			display: inline-block;
			border: solid 1px;
			border-radius: 100%;
		}

			.icon.alt:before {
				display: block;
				font-size: 1.25em;
				width: 2em;
				height: 2em;
				text-align: center;
				line-height: 2em;
			}

		@media screen and (max-width: 1680px) {

			.icon.major:before {
				font-size: 5.5rem;
			}

		}

		@media screen and (max-width: 1280px) {

			.icon.major:before {
				font-size: 4.75rem;
			}

		}

		@media screen and (max-width: 736px) {

			.icon.major {
				margin: 0 0 1.5em 0;
				padding: 0.35em;
			}

				.icon.major:before {
					font-size: 3.5rem;
				}

		}

	.icon.major {
		border-color: rgba(255, 255, 255, 0.35);
	}

		.icon.major:before {
			border-color: rgba(255, 255, 255, 0.35);
		}

	.icon.alt {
		border-color: rgba(255, 255, 255, 0.35);
		color: #ffffff;
	}

		.icon.alt:hover {
			background-color: rgba(255, 255, 255, 0.075);
		}

		.icon.alt:active {
			background-color: rgba(255, 255, 255, 0.2);
		}

/* List */

	ul {
		list-style: circle;
		margin: auto;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

	ul.alt li {
		border-top-color: rgba(255, 255, 255, 0.35);
	}

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			padding: 0 0.65em 0 0;
		}

			ul.icons li:last-child {
				padding-right: 0 !important;
			}

/* Section/Article */

	section.special {
		text-align: center;
	}

	header.major {
		margin-bottom: 1em;
	}

		header.major h2 {
			font-size: 2em;
			margin-top: 0.1em;
		}

			header.major h2:after {
				display: block;
				content: '';
				width: 3.25em;
				height: 2px;
				margin: 0.1em 0 0.1em 0;
				border-radius: 2px;
			}

				section.special header.major h2:after {
					margin-left: auto;
					margin-right: auto;
				}

		header.major p {
			font-size: 1.25em;
			letter-spacing: -0.025em;
		}

		header.major.special {
			text-align: center;
		}

			header.major.special h2:after {
				margin-left: auto;
				margin-right: auto;
			}

	footer.major {
		margin-top: 3em;
	}

	@media screen and (max-width: 736px) {

		header.major {
			margin-bottom: 0;
		}

			header.major h2 {
				font-size: 1.5em;
			}

			header.major p {
				font-size: 1em;
				letter-spacing: 0;
			}

				header.major p br {
					display: none;
				}

		footer.major {
			margin-top: 0;
		}

	}

	header.major h2:after {
		background-color: rgba(255, 255, 255, 0.35);
	}

/* Table */

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table.alt {
			border-collapse: separate;
		}

/* Features */

/* Statistics */

/* Spotlight */

	.spotlight {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		margin: 0 0 2em 0;
	}

		.spotlight .content {
			-moz-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
		}

			.spotlight .content > :last-child {
				margin-bottom: 0;
			}

			.spotlight .content header.major {
				margin: 0 0 2em 0;
			}

		@media screen and (max-width: 980px) {

			.spotlight {
				-moz-flex-direction: column-reverse;
				-webkit-flex-direction: column-reverse;
				-ms-flex-direction: column-reverse;
				flex-direction: column-reverse;
				text-align: center;
			}

				.spotlight .content {
					-moz-flex: 0 1 auto;
					-webkit-flex: 0 1 auto;
					-ms-flex: 0 1 auto;
					flex: 0 1 auto;
					width: 100%;
				}

					.spotlight .content header.major h2:after {
						margin-left: auto;
						margin-right: auto;
					}

		}

/* Header */
.header-content {
    flex: 1;
    text-align: left;
	font-size: 1.25em;
	margin-left: 100px;
}

.header-image {
    margin-right: 100px;
	align-items: right;
	justify-content: space-between
}

.header-image img {
    max-width: 300px; 
    border-radius: 50%; 
}

	#infinite-illustration {
		width: 500px;
		height: 200px;
		border: 1px;
	}

	#header {
		padding: auto ;
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

		#header h1 {
			margin: 0 0 0.25em 0;
		}

		#header p {
			font-size: 1em;
			letter-spacing: -0.025em;
			margin: 0;
			color: white;
		}

		#header.alt {
			padding: 7em 5em 4em 5em ;
		}

			#header.alt h1 {
				font-size: 3.25em;
			}

			#header.alt > * {
				-moz-transition: opacity 3s ease;
				-webkit-transition: opacity 3s ease;
				-ms-transition: opacity 3s ease;
				transition: opacity 3s ease;
				-moz-transition-delay: 0.5s;
				-webkit-transition-delay: 0.5s;
				-ms-transition-delay: 0.5s;
				transition-delay: 0.5s;
				opacity: 1;
			}

		@media screen and (max-width: 1280px) {

			#header {
				padding: 4em 4em 0.1em 4em ;
			}

				#header.alt {
					padding: 6em 4em 3em 4em ;
				}

		}

		@media screen and (max-width: 980px) {

			#header {
				padding: 4em 3em 0.1em 3em ;
			}

				#header.alt {
					padding: 5em 3em 2em 3em ;
				}

		}

		@media screen and (max-width: 736px) {

			#header {
				padding: 3em 2em 0.1em 2em ;
			}

				#header p {
					font-size: 0.8em;
					letter-spacing: 0;
				}

					#header p br {
						display: none;
					}

				#header.alt {
					padding: 4em 2em 1em 2em ;
				}

					#header.alt h1 {
						font-size: 2.5em;
					}

		}

		@media screen and (max-width: 480px) {

			#header {
				padding: 3em 1.5em 0.1em 1.5em ;
			}

				#header.alt {
					padding: 4em 1.5em 1em 1.5em ;
				}

		}

		@media screen and (max-width: 360px) {

			#header {
				padding: 2.5em 1em 0.1em 1em ;
			}

				#header.alt {
					padding: 3.5em 1em 0.5em 1em ;
				}

		}

		body.is-preload #header.alt > * {
			opacity: 0;
		}

/* Nav */

	#nav {
		-moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		-webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		-ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		background-color: #ffffff;
		color: #636363;
		position: absolute;
		width: 64em;
		max-width: calc(100% - 4em);
		padding: 1em;
		background-color: #f7f7f7;
		border-top-left-radius: 0.25em;
		border-top-right-radius: 0.25em;
		cursor: default;
		text-align: center;
	}

		#nav a:hover {
			color: #636363;
		}

		#nav strong, #nav b {
			color: #636363;
		}

		#nav h1, #nav h2, #nav h3, #nav h4 {
			color: #636363;
		}

		#nav + #main {
			padding-top: 4.25em;
		}

		#nav ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

			#nav ul li {
				-moz-transition: margin 0.2s ease;
				-webkit-transition: margin 0.2s ease;
				-ms-transition: margin 0.2s ease;
				transition: margin 0.2s ease;
				display: inline-block;
				margin: 0 0.35em;
				padding: 0;
				vertical-align: middle;
			}

				#nav ul li a {
					-moz-transition: font-size 0.2s ease;
					-webkit-transition: font-size 0.2s ease;
					-ms-transition: font-size 0.2s ease;
					transition: font-size 0.2s ease;
					display: inline-block;
					height: 2.25em;
					line-height: 2.25em;
					padding: 0 1.25em;
					border: 0;
					border-radius: 8px;
					box-shadow: inset 0 0 0 1px transparent;
				}

					#nav ul li a:hover {
						background-color: rgba(222, 222, 222, 0.25);
					}

					#nav ul li a.active {
						background-color: #ffffff;
						box-shadow: none;
					}

		#nav.alt {
			position: fixed;
			top: 0;
			padding: 0.5em 1em;
			background-color: rgba(247, 247, 247, 0.95);
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			z-index: 10000;
		}

			#nav.alt ul li {
				margin: 0 0.175em;
			}

				#nav.alt ul li a {
					font-size: 0.9em;
				}

		@media screen and (max-width: 736px) {

			#nav {
				display: none;
			}

				#nav + #main {
					padding-top: 0;
				}

		}

/* Main */

	#main {
		background-color: #ffffff;
		color: #636363;
		border-radius: 0.25em;
	}

		#main a:hover {
			color: #636363;
		}

		#main strong, #main b {
			color: #636363;
		}

		#main h1, #main h2, #main h3, #main h4 {
			color: #636363;
		}

		
		#main button,
		#main .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px #dddddd;
			color: #636363 !important;
		}

			
			#main button:hover,
			#main .button:hover {
				background-color: rgba(222, 222, 222, 0.25);
			}

			
			#main button:active,
			#main .button:active {
				background-color: rgba(222, 222, 222, 0.5);
			}

			
			#main button.icon:before,
			#main .button.icon:before {
				color: rgba(99, 99, 99, 0.25);
			}

		#main label {
			color: #636363;
		}

		#main ::-webkit-input-placeholder {
			color: rgba(99, 99, 99, 0.25) !important;
		}

		#main :-moz-placeholder {
			color: rgba(99, 99, 99, 0.25) !important;
		}

		#main ::-moz-placeholder {
			color: rgba(99, 99, 99, 0.25) !important;
		}

		#main :-ms-input-placeholder {
			color: rgba(99, 99, 99, 0.25) !important;
		}

		#main .icon.major {
			border-color: #dddddd;
		}

			#main .icon.major:before {
				border-color: #dddddd;
			}

		#main .icon.alt {
			border-color: #dddddd;
			color: #636363;
		}

			#main .icon.alt:hover {
				background-color: rgba(222, 222, 222, 0.25);
			}

			#main .icon.alt:active {
				background-color: rgba(222, 222, 222, 0.5);
			}

		#main ul.alt li {
			border-top-color: #dddddd;
		}

		#main header.major h2:after {
			background-color: #dddddd;
			background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
			background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
			background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
			background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
		}

		#main > .main {
			padding: 2em 5em 3em 5em ;
			border-top: solid 1px #dddddd;
		}

			#main > .main:first-child {
				border-top: 0;
			}

		@media screen and (max-width: 1280px) {

			#main > .main {
				padding: 4em 4em 2em 4em ;
			}

		}

		@media screen and (max-width: 980px) {

			#main > .main {
				padding: 4em 3em 2em 3em ;
			}

		}

		@media screen and (max-width: 736px) {

			#main > .main {
				padding: 3em 2em 1em 2em ;
			}

		}

		@media screen and (max-width: 480px) {

			#main > .main {
				padding: 3em 1.5em 1em 1.5em ;
			}

		}

		@media screen and (max-width: 360px) {

			#main {
				border-radius: 0;
			}

				#main > .main {
					padding: 2.5em 1em 0.5em 1em ;
				}

		}

/* Footer */

	#footer {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 5em 5em 3em 5em ;
		width: calc(100% + 2em);
		margin: 0 0 3em -2em;
	}

		#footer > * {
			width: calc(50% - 2em);
			margin-left: 2em;
		}

		#footer .copyright {
			width: 100%;
			margin: 2.5em 0 2em 0;
			font-size: 0.8em;
			text-align: center;
		}

		@media screen and (max-width: 1280px) {

			#footer {
				padding: 4em 4em 2em 4em ;
			}

		}

		@media screen and (max-width: 980px) {

			#footer {
				padding: 4em 3em 2em 3em ;
				display: block;
				margin: 0 0 3em 0;
				width: 100%;
			}

				#footer > * {
					width: 100%;
					margin-left: 0;
					margin-bottom: 3em;
				}

				#footer .copyright {
					text-align: left;
				}

		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 2em 1em 2em ;
			}

		}

		@media screen and (max-width: 480px) {

			#footer {
				padding: 3em 1.5em 1em 1.5em ;
			}

		}

		@media screen and (max-width: 480px) {

			#footer {
				padding: 2.5em 1em 0.5em 1em ;
			}

		}

/* Wrapper */

	#wrapper {
		width: 64em;
		max-width: calc(100% - 4em);
		margin: 0 auto;
	}

		@media screen and (max-width: 480px) {

			#wrapper {
				max-width: calc(100% - 2em);
			}

		}

		@media screen and (max-width: 360px) {

			#wrapper {
				max-width: 100%;
			}

		}



		.portfolio-container {
			padding: 2em 0;
		}
		
		.portfolio-grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			gap: 2em;
		}
		
		.portfolio-item {
			width: 100%;
			max-width: 600px;
			text-align: center;
		}

		.portfolio-item p {
			margin: 0 0 1em 0;
		}
		
		.portfolio-image-container {
			overflow: hidden;
			border-radius: 8px;
			border: 2px solid #fff;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			transition: transform 0.3s, box-shadow 0.3s;
		}
		
		.portfolio-image {
			width: 100%;
			height: auto;
			aspect-ratio: 16/2; /* portfolio images aspect ratio */
			object-fit: cover; 
			filter: grayscale(100%);
			transition: filter 0.3s, transform 0.3s;
		}
		
		.portfolio-image-container:hover .portfolio-image {
			filter: grayscale(0%);
			transform: scale(1.05);
		}
		
		.portfolio-image-container:hover {
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
		}
		
		.button.small {
			font-size: 0.8em;
			padding: 0em 1em;
		}
		
		@media screen and (max-width: 980px) {
			.portfolio-item {
				width: 45%;
			}
			.portfolio-image {
				width: 100%;
				height: auto;
				border-radius: 10%;
				display: block;
				filter: grayscale(100%);
				transition: filter 0.3s, transform 0.3s;
				aspect-ratio: 16/4; /* portfolio images aspect ratio */
				object-fit: cover; 
			}
		}
		
		@media screen and (max-width: 736px) {
			.portfolio-item {
				width: 100%;
			}
			
			.portfolio-image {
				width: 100%;
				object-fit: cover;
				aspect-ratio: 16/4; /* portfolio images aspect ratio */
				height: auto;
				border-radius: 10%;
				display: block;
				filter: grayscale(100%);
				transition: filter 0.3s, transform 0.3s;
			}
		}
		

/* About Me Section */

.about-me-list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 2em;
}

.about-me-list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 2em;
}

.about-me-list li {
    position: relative;
    padding-left: 60px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #12343b;
    line-height: 1.5;
	display: flex;
    flex-direction: row;
	align-items: center;
}

.about-me-list li:before {
    content: '\2023'; /* Unicode for small bullet arrow */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-60%);
    color: #12343b;
    font-size: 1.2em; /* arrow size */
}
@media screen and (max-width: 980px) {
    .about-me-list li {
        font-size: 1em; 
        padding-left: 25px;
    }

    .about-me-list li:before {
        font-size: 1em;
    }
}

@media screen and (max-width: 736px) {
    .about-me-list li {
        font-size: 0.9em; 
        padding-left: 20px;
    }

    .about-me-list li:before {
        font-size: 0.9em;
    }
}

/* Skills */
#skills .tabs {
    margin-top: 20px;
}

#skills .tab-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: nowrap; /*  buttons wrap on smaller screens */
}

#skills .highlight {
    color: #12343b; 
    font-weight: 400; 
}

#skills .tab-button {
    background: none;
    padding: 0px;
	width: 250px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

#skills .tab-button:hover,
#skills .tab-button.active {
    color: #ffffff;
}

#skills .tab-button .icon {
    font-size: 1.2em; 
}

#skills .tab-content {
    display: none;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
}

#skills .tab-content.active {
    display: block;
}

/* Multi-media design for skills section */
@media screen and (max-width: 980px) {
    #skills .tab-buttons {
        flex-direction: column;
		gap: 5px;
    }

    #skills .tab-button {
        width: 100%;
        padding: 8px 15px;
        font-size: 0.9em;
        justify-content: center; /* Center-align text and icon */
    }

    #skills .tab-button .icon {
        font-size: 1em;
    }

    #skills .tab-content {
        padding: 15px;
    }
}

@media screen and (max-width: 736px) {
    #skills .tab-button {
        padding: 6px 10px;
        font-size: 0.8em;
		width: 250px;
        justify-content: center; /* Center-align text and icon */
    }

    #skills .tab-button .icon {
        font-size: 0.9em;
    }

    #skills .tab-content {
        padding: 10px;
    }
}


/* Certifications Section */
.certifications-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em 0;
}

.certification-card {
    width: 30%;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.certification-card .icon {
    font-size: 2em;
    color: #2d545e;
    margin-bottom: 0.5em;
}

.certification-card h3 {
    margin-top: 0.5em;
    font-size: 1.2em;
}

.certification-card p {
    margin: 0.5em 0;
}

.certification-card a {
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    background-color: #2d545e;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.certification-card a:hover {
    background-color: #12343b;
}

@media screen and (max-width: 980px) {
    .certification-card {
        width: 45%;
    }
}

@media screen and (max-width: 736px) {
    .certification-card {
        width: 100%;
    }
}



/* Publications Section */
.publications-container {
    padding: 20px;
    background-color: rgba(18, 52, 59, 0.3)	;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.publications-list {
    list-style-type: none;
    padding: 0;
}

.publication-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.publication-item p {
    margin: 0;
    color: #555;
}

.publication-item a {
    color: #1a73e8;
    text-decoration: none;
    margin-right: 10px;
}

.publication-item a:hover {
    text-decoration: underline;
}


/* multi-media adjustments for pubs */
@media screen and (max-width: 820px) {
    .publication-item {
        padding: 10px;
    }
}


/* Awards Section */
.awards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.award-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    transition: transform 0.2s;
}

.award-item:hover {
    transform: scale(1.02);
}

.award-item h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.award-item p {
    margin: 10px 0 0 0;
    color: #555;
}

/* mobile awards adjustments */
@media screen and (max-width: 820px) {
    .awards-container {
        padding: 10px;
    }

    .award-item {
        padding: 10px;
    }

    .award-item h3 {
        font-size: 1.2em;
    }

    .award-item p {
        font-size: 1em;
    }
}


/* Fixed Header */
#fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* transparent background */
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    z-index: 1000; /*  it stays on top */
    transition: background-color 0.3s ease, padding 0.3s ease;
}

#fixed-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}

#fixed-header .name {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff; /* text color */
}

#fixed-header .icons {
    display: flex;
    gap: 1px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#fixed-header .icons li {
    margin: 0;
}

#fixed-header .icons a {
    font-size: 0.6em;
    padding: 5px;
    color: #ffffff; /* color of icons on header */
}

body {
    padding-top: 60px;
}



/* Accordion items */

.accordion-items {
    display: flex;
    flex-direction: column;
    width: 220px; 
}

.accordion-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
	max-width: 100%;
	box-sizing: border-box;
}

.experience-container {
    display: flex;
}

.accordion-header {
    background-color: rgba(255, 255, 255, 0.15);
    color: #d3d3d3;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: left;
    position: relative;
	box-sizing: border-box;
}

.accordion-item:hover .accordion-header,
.accordion-item.active .accordion-header {
    background-color: #12343b;
    color: #ffffff !important;
}

.accordion-item.active .accordion-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #c89666;
}

.accordion-content {
    display: none;
	padding: 50px;
	margin-left: 500px;
	box-sizing: border-box;
}


/* EXPERIENCE  */
#experience {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#experience .content-container {
    margin-left: 100px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 1em;
    line-height: 1.4;
    color: #000000;
    border-radius: 8px;
    width: calc(100% - 220px);
    position: relative;
    min-height: 200px;
}

#experience .content-container p {
    margin: 0;
    padding: 5px 0;
    color: #000000;
    text-align: left;
}

/* EDUCATION (w/ tabs) */
.tabs {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tab-button {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.35);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    color: #f0f0f0;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tab-button.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #c89666; /* small color bar below selected item*/
}

.tab-content {
    display: none;
    padding: 10px 15px; 
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

.tab-content.active {
    display: block;
}


/* Compact text inside tabs */
.tab-content p {
    margin: 5px 0; 
    line-height: 1.4; 
}

/* CV Buttons on about me */
.cv-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 2em;
    line-height: 2em;
    min-width: 6em;
    padding: 0 0.75em;
	font-size: 0.75em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #53504e; /* Base color */
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cv-button:hover {
    background-color: #12343b; /* Hover color */
    color: #ffffff !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.cv-button:focus {
    outline: none;
    border-color: #12343b; /* Focus color */
}

.cv-button:active {
    background-color: #0f2a2f; /* Active color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



/* General Multi-Media Adjustments (so many screen sizes aaaaaaa)*/

@media screen and (max-width: 820px) {
    /* Move canvas below the text in the header */
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
		margin-left: 0;
    }
	.header-content h4 {
		width: 300px;
		text-align: left;
    }
    .header-image {
        display: none;
    }

    /* Hello Section */
    .header-content h1 {
        width: 90%; /* Adjust width to prevent narrowing */
        text-align: center;
    }

    /* Education Section */
    .tabs {
        display: flex;
        flex-direction: column;
    }
    .tab-buttons {
        display: flex;
        flex-direction: column;
		align-items: center;
    }
    .tab-button {
        width: 100%;
        margin-bottom: 10px;
    }
    .tab-content {
        padding: 10px;
    }

    /* Experience Section */
    .experience-container {
        display: flex;
        flex-direction: column;
    }

    .accordion-items {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
		width: auto;
    }

    .accordion-item {
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin-right: 0px; /* Space between items */
        width: 25%; /* Adjust width as needed */
		align-items: center;
    }

    .accordion-content {
        margin-left: 0;
        padding: 10px; /* Adjust padding for mobile */
    }

    #experience .content-container {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 1366px) {
    /* Move canvas below the text in the header */
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
		margin-left: 0;
    }
	.header-content h4 {
		width: 600px;
		text-align: left;
    }
    .header-image {
        display: none;
    }

    /* Hello Section */
    .header-content h1 {
        width: 90%; /* Adjust width to prevent narrowing */
        text-align: center;
    }

    /* Education Section */
    .tabs {
        display: flex;
        flex-direction: column;
    }
    .tab-buttons {
        display: flex;
        flex-direction: column;
		align-items: center;
    }
    .tab-button {
        width: 75%;
        margin-bottom: 10px;
    }
    .tab-content {
        padding: 10px;
    }

    /* Experience Section */
    .experience-container {
        display: flex;
        flex-direction: column;
    }

    .accordion-items {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
		width: auto;
    }

    .accordion-item {
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin-right: 0px; /* Space between items */
        width: 25%; /* Adjust width as needed */
		align-items: center;
    }

    .accordion-content {
        margin-left: 0;
        padding: 10px; /* Adjust padding for mobile */
    }

    #experience .content-container {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 1000px) {
    /* Move canvas below the text in the header */
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
		margin-left: 0;
    }
	.header-content h4 {
		width: 500px;
		text-align: left;
    }
    .header-image {
        display: none;
    }

    /* Hello Section */
    .header-content h1 {
        width: 90%; /* Adjust width to prevent narrowing */
        text-align: center;
    }

    /* Education Section */
    .tabs {
        display: flex;
        flex-direction: column;
    }
    .tab-buttons {
        display: flex;
        flex-direction: column;
		align-items: center;
    }
    .tab-button {
        width: 100%;
        margin-bottom: 10px;
    }
    .tab-content {
        padding: 10px;
    }

    /* Experience Section */
    .experience-container {
        display: flex;
        flex-direction: column;
    }

    .accordion-items {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
		width: auto;
    }

    .accordion-item {
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin-right: 0px; /* Space between items */
        width: 25%; /* Adjust width as needed */
		align-items: center;
    }

    .accordion-content {
        margin-left: 0;
        padding: 10px; /* Adjust padding for mobile */
    }

    #experience .content-container {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 900px) {
    /* Move canvas below the text in the header */
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
		margin-left: 0;
    }
	.header-content h4 {
		width: 300px;
		text-align: left;
    }
    .header-image {
        display: none;
    }

    /* Hello Section */
    .header-content h1 {
        width: 90%; /* Adjust width to prevent narrowing */
        text-align: center;
    }

    /* Education Section */
    .tabs {
        display: flex;
        flex-direction: column;
    }
    .tab-buttons {
        display: flex;
        flex-direction: column;
		align-items: center;
    }
    .tab-button {
        width: 100%;
        margin-bottom: 10px;
    }
    .tab-content {
        padding: 10px;
    }

    /* Experience Section */
    .experience-container {
        display: flex;
        flex-direction: column;
    }

    .accordion-items {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
		width: auto;
    }

    .accordion-item {
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin-right: 0px; /* Space between items */
        width: 25%; /* Adjust width as needed */
		align-items: center;
    }

    .accordion-content {
        margin-left: 0;
        padding: 10px; /* Adjust padding for mobile */
    }

    #experience .content-container {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 576px) {
    /* Move canvas below the text in the header */
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
		margin-left: 0;
    }
	.header-content p {
		width: 300px;
		font-size: 0.7em;
		text-align: left;
    }
    .header-image {
        display: none;
    }

    /* Hello Section */
    .header-content h1 {
        width: 90%; /* Adjust width to prevent narrowing */
        text-align: center;
    }

    /* Education Section */
    .tabs {
        display: flex;
        flex-direction: column;
    }
    .tab-buttons {
        display: flex;
        flex-direction: column;
		align-items: center;
    }
    .tab-button {
        width: 100%;
        margin-bottom: 10px;
    }
    .tab-content {
        padding: 10px;
    }

    /* Experience Section */
    .experience-container {
        display: flex;
        flex-direction: column;
    }

    .accordion-items {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
		width: auto;
    }

    .accordion-item {
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin-right: 0px; /* Space between items */
        width: 36%; /* Adjust width as needed */
		align-items: center;
    }

    .accordion-content {
        margin-left: 0;
        padding: 10px; /* Adjust padding for mobile */
    }

    #experience .content-container {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }
}